# Dependencias (NUNCA deben subirse a GitHub)
node_modules/
/.pnp
.pnp.js

# Archivos de entorno y credenciales (Seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds y compilados
dist/
build/
*.log

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/